services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mayprogulka
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret_pass

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
      args:
        # Используем localhost для браузера, так как запросы идут от клиента
        VITE_API_BASE_URL: http://localhost:8000/api
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
